body {
    background-color: white;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    margin-right: 10px;
    font-family: Helvetica;
    font-size: 20px;
    text-decoration: none;
    color: #505050;
    padding: 5px;
    transition: color 0.5s;
    position: relative;
}
a::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #555;
}
a:hover {
    color: #333;
    background-color: #EEE;
}
a:hover::before {
    width: 100%;
    transition: width 0.5s;
}


.main {
    background-color: opaque;
    width: calc(80%);
    margin: 0 50px;
    padding: 10px;
    font-family: Helvetica;
}

.main-line {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main-line table {
    border-collapse: collapse;
    margin: 50px;
}
td {
    border: 1px solid #ccc;
    font-size: 25px;
    padding: 5px;
    background-color: white;
}
tr:nth-of-type(2n) > td:nth-of-type(2n) {
    background-color: #eee;
}
tr:nth-of-type(2n-1) > td:nth-of-type(2n-1) {
    background-color: #eee;
}

.request-form {
    background-color: #FCFCFC;
    border-radius: 5px;
    border: 2px solid #E7E7E7;
    vertical-align: middle;
    width: 300px;
    margin: 100px 50px;
    padding: 10px;
}
.request-form label {
  display: table;
  margin: 5px auto;
  font-size: 26px;
  font-family: Helvetica;
  color: #555;
}

.request-form input {
  display: block;
  margin: 10px auto;
}

.request-form input[type="text"] {
  border-radius: 2px;
  box-shadow: 0;
  border: 2px solid #E7E7E7;
  height: 40px;
  background-color: white;
  font-size: 20px;
  width: 200px;
  font-family: Helvetica;
  padding-left: 10px;
}

.request-form input[type="submit"] {
  box-shadow: 0;
  border-radius: 2px;
  border: 0;
  height: 40px;
  background-color: #0080FF;
  font-size: 20px;
  width: 150px;
  height: 50px;
  color: white;
  font-family: Helvetica;
}

.requests h1 {
    font-family: Helvetica;
    font-size: 30px;
}

.requests-list {
    list-style: none;
    display: table;
}
.requests-list li {
    border: 1px solid #CCCCCC;
    background-color: white;
    font-size: 24px;
    font-family: Helvetica;
    padding: 5px;
    margin-left: 50px;
    position: relative;
}
.requests-list li:nth-of-type(2n-1) {
    background-color: #EEEEEE;
}
ul.requests-list li.accepted {
    background-color: #71CA6B;
    border-color: #325B2F;
}
.can-handle {
    box-shadow: inset 0 0 2px  1px yellow;
}
.requests-list li input[type='submit'] {
    position: absolute;
    top: 10px;
    width: 20px;
    height: 20px;
    border-radius: 7px;
    border: 0;
    box-shadow: 0;
    padding: 0;
    margin: 0;
    font-size: 0;
    transition: transform 0.5s;
}

.requests-list li input[type='submit']:hover {
    transform: scale(1.2);
}

.request-ok {
    left: -50px;
    background-color: #55AB55;
}
.request-reject {
    left: -25px;
    background-color: #E94E1B;
}
