body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.email-warning {
    display: block;
    font-family: Helvetica;
    color: #eb4444;
    background-color: rgba(245, 229, 122, 0.5);
    position: relative;
    text-align: center;
}

.footer a {
    display: block;
    font-family: Helvetica;
    text-decoration: none;
    color: #333;
    position: relative;
    width: 45%;
    margin: auto;
}

.main {
    background-color: opaque;
    width: 100%;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

.debt-cell {
    width: 95%;
    color: #555;
    text-align: center;
    background-color: #fcfcfc;
    border: solid #E7E7E7;
}
.debt-cell span {
    vertical-align: middle;
}

.request-form {
    box-sizing: padding-box;
    background-color: #fcfcfc;
    border: solid #E7E7E7;
    vertical-align: middle;
    width: 80%;
    padding: 5%;
}
.request-form label {
  display: table;
  font-family: Helvetica;
  color: #555;
}

.request-form input {
  display: block;
}

.request-form input[type="text"] {
  box-shadow: 0;
  border: solid #E7E7E7;
  background-color: white;
  width: 90%;
  font-family: Helvetica;
  padding-left: 5%;
}

.request-form input[type="submit"] {
  box-shadow: 0;
  border: 0;
  background-color: #0080FF;
  width: 60%;
  color: white;
  font-family: Helvetica;
}

.requests-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.requests-list li .request-item {
    border: solid #CCCCCC;
    background-color: white;
    font-family: Helvetica;
    margin: 0;
    height: auto;
    position: relative;
    text-align: center;
}
.requests-list li:nth-of-type(2n-1) .request-item {
    background-color: #EEEEEE;
}

a {
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 360px) {
  .email-warning {
    margin: 10px auto;
    font-size: 25px;
    padding: 10px;
  }
    h1 {
        font-size: 36px;
    }
    .footer a {
        font-size: 20px;
        padding: 10px;
        margin-bottom: 3px;
    }
    .debt-cell {
        margin: 10px auto;
        font-size: 30px;
        height: 50px;
        border-radius: 5px;
        border-width: 2px;
    }
    .request-form {
        border-radius: 5px;
        border-width: 2px;
        margin: 20px auto;
    }
    .request-form label {
      margin: 5px auto;
      font-size: 26px;
    }
    .request-form input {
      margin: 10px auto;
    }
    .request-form input[type="text"] {
      border-radius: 2px;
      border-width: 2px;
      height: 50px;
      font-size: 20px;
    }

    .request-form input[type="submit"] {
      border-radius: 2px;
      font-size: 20px;
      height: 50px;
    }
    .requests-list {
        list-style: none;
        margin: 0;
        padding-top: 10px;
    }
    .requests-list li {
        margin-bottom: 5px;
    }
    .requests-list li .request-item {
        border-width: 1px;
        font-size: 24px;
        padding: 5px;
    }
}

@media only screen and (min-width: 361px) and (max-width: 540px) {
  .email-warning {
    margin: 15px auto;
    font-size: 30px;
    padding: 15px;
  }
    h1 {
        font-size: 40px;
    }
    .footer a {
        font-size: 25px;
        padding: 15px;
        margin-bottom: 5px;
    }
    .debt-cell {
        margin: 15px auto;
        font-size: 35px;
        height: 70px;
        border-radius: 7px;
        border-width: 3px;
    }
    .debt-cell span {
        line-height: 1.6em;
    }
    .request-form {
        border-radius: 7px;
        border-width: 3px;
        margin: 30px auto;
    }
    .request-form label {
      margin: 7px auto;
      font-size: 30px;
    }
    .request-form input {
      margin: 15px auto;
    }
    .request-form input[type="text"] {
      border-radius: 3px;
      border-width: 3px;
      height: 70px;
      font-size: 30px;
    }

    .request-form input[type="submit"] {
      border-radius: 3px;
      font-size: 28px;
      height: 70px;
    }
    .requests-list {
        list-style: none;
        margin: 0;
        padding-top: 15px;
    }
    .requests-list li {
        margin-bottom: 7px;
    }
    .requests-list li .request-item {
        border-width: 2px;
        font-size: 30px;
        padding: 7px;
    }
}

@media only screen and (min-width: 541px) and (max-width: 750px) {
  .email-warning {
    margin: 20px auto;
    font-size: 36px;
    padding: 20px;
  }
    h1 {
        font-size: 45px;
    }
    .footer a {
        font-size: 30px;
        padding: 20px;
        margin-bottom: 7px;
    }
    .debt-cell {
        margin: 20px auto;
        font-size: 40px;
        height: 90px;
        border-radius: 10px;
        border-width: 5px;
    }
    .debt-cell span {
        line-height: 2em;
    }
    .request-form {
        border-radius: 10px;
        border-width: 5px;
        margin: 40px auto;
    }
    .request-form label {
      margin: 10px auto;
      font-size: 40px;
    }
    .request-form input {
      margin: 20px auto;
    }
    .request-form input[type="text"] {
      border-radius: 5px;
      border-width: 5px;
      height: 90px;
      font-size: 40px;
    }

    .request-form input[type="submit"] {
      border-radius: 5px;
      font-size: 35px;
      height: 90px;
    }
    .requests-list {
        list-style: none;
        margin: 0;
        padding-top: 20px;
    }
    .requests-list li {
        margin-bottom: 10px;
    }
    .requests-list li .request-item {
        border-width: 3px;
        font-size: 40px;
        padding: 10px;
    }
}
@media only screen and (min-width: 751px) {
  .email-warning {
    margin: 25px auto;
    font-size: 42px;
    padding: 25px;
  }
    h1 {
        font-size: 60px;
    }
    .footer a {
        font-size: 48px;
        padding: 40px;
        margin-bottom: 10px;
    }
    .debt-cell {
        margin: 30px auto;
        font-size: 60px;
        height: 120px;
        border-radius: 15px;
        border-width: 7px;
    }
    .debt-cell span {
        line-height: 2em;
    }
    .request-form {
        border-radius: 15px;
        border-width: 7px;
        margin: 60px auto;
    }
    .request-form label {
      margin: 15px auto;
      font-size: 60px;
    }
    .request-form input {
      margin: 30px auto;
    }
    .request-form input[type="text"] {
      border-radius: 7px;
      border-width: 7px;
      height: 120px;
      font-size: 60px;
    }

    .request-form input[type="submit"] {
      border-radius: 7px;
      font-size: 50px;
      height: 120px;
    }
    .requests-list {
        list-style: none;
        margin: 0;
        padding-top: 30px;
    }
    .requests-list li {
        margin-bottom: 15px;
    }
    .requests-list li .request-item {
        border-width: 5px;
        font-size: 60px;
        padding: 15px;
    }
}
