body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.main {
    background-color: opaque;
    width: 100%;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

.debt-cell {
    width: 95%;
    color: #555;
    text-align: center;
    background-color: #fcfcfc;
    border: solid #E7E7E7;
    vertical-align: middle;
}

.request-form {
    box-sizing: padding-box;
    background-color: #fcfcfc;
    border: solid #E7E7E7;
    vertical-align: middle;
    width: 80%;
    padding: 5%;
}
.request-form label {
  display: table;
  font-family: Helvetica;
  color: #555;
}

.request-form input {
  display: block;
}

.request-form input[type="text"] {
  box-shadow: 0;
  border: solid #E7E7E7;
  background-color: white;
  width: 80%;
  font-family: Helvetica;
  padding-left: 5%;
}

.request-form input[type="submit"] {
  box-shadow: 0;
  border: 0;
  background-color: #0080FF;
  width: 50%;
  color: white;
  font-family: Helvetica;
}

.requests-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.requests-list li {
    border: solid #CCCCCC;
    background-color: white;
    font-family: Helvetica;
    margin: 0;
    position: relative;
}
.requests-list li:nth-of-type(2n-1) {
    background-color: #EEEEEE;
}
ul.requests-list li.accepted {
    background-color: #71CA6B;
    border-color: #325B2F;
}
.requests-list li input[type='submit'] {
    position: absolute;
    width: 30%;
    border: 0;
    box-shadow: 0;
    padding: 0;
    margin: 0;
    font-size: 0;
    transition: transform 0.5s;
}

.requests-list li input[type='submit'].request-ok {
    left: 20%;
    background-color: #55AB55;
    border-top: solid #2e5d2e;
}
.requests-list li input[type='submit'].request-reject {
    left: 50%;
    background-color: #E94E1B;
    border-top: solid #832c10;
}

a {
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 360px) {
    h1 {
        font-size: 32px;
    }
    .debt-cell {
        margin: 10px auto;
        font-size: 26px;
        height: 45px;
        border-radius: 5px;
        border-width: 2px;
    }
    .request-form {
        border-radius: 5px;
        border-width: 2px;
        margin: 20px auto;
    }
    .request-form label {
      margin: 5px auto;
      font-size: 26px;
    }
    .request-form input {
      margin: 10px auto;
    }
    .request-form input[type="text"] {
      border-radius: 2px;
      border-width: 2px;
      height: 40px;
      font-size: 20px;
    }

    .request-form input[type="submit"] {
      border-radius: 2px;
      font-size: 20px;
      height: 50px;
    }
    .requests-list {
        list-style: none;
        margin: 0;
        padding-top: 10px;
    }
    .requests-list li {
        border-width: 1px;
        font-size: 24px;
        padding: 5px;
        margin-bottom: 5px;
        position: relative;
    }
    .requests-list li.can-handle {
        box-shadow: inset 0 0 2px  1px yellow;
        margin-bottom: 50px;
    }
    .requests-list li input[type='submit'] {
        top: 45px;
        height: 40px;
        box-shadow: 0 1px 1px black;
    }
    .requests-list li input[type='submit'].request-ok {
        border-top-width: 3px;
        border-radius: 0 0 0 10px;
    }
    .requests-list li input[type='submit'].request-reject {
        border-top-width: 3px;
        border-radius: 0 0 10px 0;
    }
}
